html, body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #e9e9e9;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.5fr 4fr;
    gap: 1.5rem;
    grid-template-areas: "profile intro"
                         "contact main"
                         "contact main";
    background-color: white;
    width: 80vw;
    height: 88vh;
}
.grid-item {
    background-color: red;
}

.profile-img {
    grid-area: profile;
    background: url("../img/profile.jpg") no-repeat center center;
    background-size: 75% 100%;
}

.intro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.contact {
    grid-area: contact;
}

.main {
    grid-area: main;
}

.name {
    font-weight: bold;
    font-size: 2em;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

.tag {
    border: 2px solid black;
    padding: 3px 6px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.5rem;
}

.contact-nav,
.interest-nav,
.follow-nav{
    font-weight: bold;
}

.github {
    display: flex;
}

.link {
    margin-right: 5px;
}

.square {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #d4d4d4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: black;
    z-index: 999;
}

.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.line {
    width: 0.5px;
    background-color: #d4d4d4;
    height: 100%;
}

.timeline {
    display: flex;
}

.timeline-content {
    margin-bottom: 20px;
}