html, body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #e9e9e9;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    z-index: 999;
}

.mb {
    margin-bottom: 20px;
}

.mb-sm {
    margin-bottom: 10px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
}

.list:before {
    content: '👉';
    margin-right: 5px;
}

.list {
    font-size: 0.9em;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.5fr 4fr;
    gap: 1.5rem;
    grid-template-areas: "profile intro"
                         "contact main"
                         "contact main";
    background-color: white;
    width: 80vw;
    height: 88vh;
    padding-left: 2em;
    padding-right: 2em;


}

.grid-item {
    background-color: red;
}

.profile-img {
    grid-area: profile;
    background: url("../img/profile.jpg") no-repeat center center;
    background-size: 75% 100%;
}

.intro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.introduction {
    margin-top: 5px;
}

.info {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    grid-area: main;
}

.name {
    font-weight: bold;
    font-size: 2em;
}


.tag {
    border: 2px solid black;
    padding: 3px 6px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.5rem;
    margin-right: 5px;
    margin-bottom: 4px;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20%;
}

.contact-nav,
.interest-nav,
.follow-nav {
    font-weight: bold;
}

.github {
    display: flex;
}

.link {
    margin-left: 5px;
}

.square {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #d4d4d4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: black;
    z-index: 999;
}

.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.line {
    width: 0.5px;
    background-color: #d4d4d4;
    height: 100%;
}

.timeline {
    display: flex;
}

.timeline-nav {
    font-weight: bold;
}

.timeline-content {
    margin-bottom: 20px;
}

.period {
    color: #BEBEBE;
}

.project-name {
    font-size: 1.5em;
    font-weight: bold;
}

.intro-list:before {

    content: "▪";
    margin-right: 5px;

}